body {
  background-color: #D3D3D3;
}

.sign-in-up .left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.sign-in-up .right-inner-addon {
    position: relative;
}

.sign-in-up .right-inner-addon input {
    padding-right: 30px;
}

.sign-in-up .right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 17px 12px;
    pointer-events: none;
}

.sign-in-up .form-title {
    text-align: center;
    margin-top: 1em;
}

.sign-in-up .paywith {
    padding: 12px 12px 0 0;
    margin: 0;
    font-weight: bold;
}

.container {
  background-color: white;
  margin-top: 100px;
  padding-top: 25px; 
  padding-bottom: 50px;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
}

.form-title {
  margin-bottom: 35px;
  font-size: 36px;
}

.existing {
  margin-top: 14px;
  background:none!important;
  border:none; 
  padding:0!important;
}

p {
  color: red;
}